header {
  position: sticky;
  min-height: 80px;
  top: 0;
  /* background-color: #606470; */
  /* background-color: #f7f7f7; */
  background-color: #fdfdfd;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 0 20px -12px black;
}

/* .header_content--wrapper {
  max-width: 1200px;
} */
.artisec_logo {
  position: absolute;
  left: 10px;
  padding: 0.5rem;
  max-height: 80px;
}

.mobile_main_nav {
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
  background-color: #cfcfcf;
  border-radius: 5px;
  z-index: 20;
  transition: 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.hide-mobile-nav {
  transform: translateX(calc(+120%));
}

.mobile_main_nav__links {
  list-style: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.mobile_main_nav__link {
  padding: 1rem 2rem;
  font-weight: 500;
  cursor: pointer;
  background-color: #f4f4f4;
  color: #3a3e4d;
}

.mobile_main_nav__link:not(:last-child) {
  border-bottom: 2px solid #00ade4;
}

.hamburger {
  padding-top: 0.5rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}

.hamburger_strip {
  width: 2rem;
  height: 0.2rem;
  margin-bottom: 0.5rem;
  /* background-color: #009fdf; */
  background-color: #00ade4;
}

.main_nav {
  display: none;
}

.main_nav__links {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.main_nav__link {
  padding: 0.6rem 1.2rem;
  margin: 0.4rem 1rem;
  border-radius: 30px;
  border: 2px solid #ec1d3a;
  font-weight: 500;
  cursor: pointer;
  background-color: #fdfdfd;
  color : #ec1d3a;
  transition: all 180ms;
}

.main_nav__link:hover {
  /* color: #93DEFF; */
  /* background-color: #3a3e4d; */


  /* background-color: #ff2c2c; */
  box-shadow: 0px 0px 5px 0px #ff5b5b;
  /* border: 2px solid #ff2c2c; */
  /* color: white; */
}

.active_link {
  background-color: #ec1d3a;
  color: white;
}
